* {
  font-family: monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: repeating-linear-gradient(-45deg, #222, #222 10px, #333 10px, #333 20px);
}

#app {
  position: relative;
  width: 1024px;
  height: 440px;
  border: 15px solid #6c6c6c;
  background-color: #000;
}

canvas {
  background: #000;
  width: 1024px;
  height: 256px;
  margin-top: 20px;
}

p {
  margin: 0;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.info .resource {
  font-size: 24px;
}

.wave_generation {
  text-align: center;
}

.wave_generation .wave {
  font-size: 30px;
  font-weight: bold;
}

.wave_generation .generation {
  font-size: 14px;
  color: #aaa;
}

.upgrades {
  display: flex;
  gap: 100px;
  background-color: #000;
  position: absolute;
  top: 300px;
  padding-left: 20px;
}

.upgrades > * {
  flex: 1;
}

.passives-container > span,
.weapons-container > span {
  display: block;
  color: #fff;
  font-size: 20px;
  margin-bottom: 2px;
}

.upgrades .passives,
.upgrades .weapons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.button {
  flex-basis: 45%;
  display: block;
  width: 100%;
  background: transparent;
  color: #fff;
  border: 2px solid #bbb;
  font-size: 16px;
  height: 48px;
}

.button:hover {
  cursor: pointer;
}

.button:not(.notenough):active {
  background: #00db00;
}

.button > div {
  font-size: 13px;
}

.button .amount {
  color: #00db00;
  font-weight: 600;
}

.button .resource {
  display: block;
}

.button.notenough .resource {
  color: red;
}

.banner {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  height: 70px;
  text-align: center;
  color: #fff;
  font-size: 70px;
  opacity: 0;
  transition: opacity 0.5s;
}

.banner.show {
  opacity: 1;
}

.hide {
  display: none;
}

.start-button {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 80px;
  font-size: 40px;
  background: #000;
  color: #fff;
  border: 2px solid #bbb;
  cursor: pointer;
}

.start-button:hover {
  color: #00db00;
}

.current-upgrades {
  position: absolute;
  top: 52px;
  left: 10px;
  color: #fff;
}

.current-upgrades ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
